/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

@font-face {
    font-family: "IrisUPC";
    src: url("../fonts/IrisUPC.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "IrisUPC";
    src: url("../fonts/IrisUPC-Bold.ttf");
    font-weight: bold;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #8D0801;
    font-family: 'IrisUPC', sans-serif;
}

/* Links */
a {
    text-decoration: none;
    color: #708D81;
}

a:hover {
    color: #336B54;
}

/* Utility Classes */
.bottom-text {
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
}

.active {
    color: #336B54;
}

.header {
    font-size: 128px;
    color: white;
    text-align: center;
    padding-top: 30px;
}

.header-text {
    font-weight: bold;
}

span.spec_char {
    font-size: .6em;
}

.clr { clear: both; }


/* Navbar */
.navbar {
    background: #F4D58D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    height: 80px;
}

.navbar .logo {
    padding-top: 10px;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    padding: 10px;
}

.navbar ul li a {
    font-weight: bold;
    font-size: 54px;
    text-align: center;
}

/* Background Image */
.background-top img {
    position: absolute;
    top: 100vh;
    transform: translateY(-100%);
    width: 100%;
}

/* Fireworks */
.fireworks img {
    height: 10%;
}

/* Hero Section */
.hero h1,
.hero h2 {
    color: white;
    text-align: center;
    line-height: 0.5em;
}

.hero h1 {
    font-size: 256px;
}

.hero h2 {
    font-family: Aboreto, sans-serif;
    font-weight: 400;
    font-size: 64px;
}

/* Coins Section */
.coins {
    display: flex;
    justify-content: center;
    gap: 3.5em; /* Instead of margin */
}

.coins .coin img:hover {
    animation: turn_coin 300ms ease-in-out forwards;
}


/* Keyframes */
@keyframes turn_coin {
    0% {
        rotate: 0;
    }
    100% {
        rotate: -45deg;
    }
}


/* Food Guide */
.box {
    padding: 30px;
    font-size: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-img img {
    margin: 0 150px;
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center top
}

.box-text {
    background-color: #F4D58D;
    border: #F4D58D 5px solid;
    border-radius: 150px;
    padding: 50px 120px;
    
    width: 70%;
    display: inline-block;
}

.box-text .name {
    margin-top: -60px;
    padding-top: 30px;
}

.box-text .desc {
    padding: 10px 150px;
    line-height: .9em
}

/* History */
.history-box {
    display: flex;
    align-items: center; /* Centers items vertically */
    justify-content: center; /* Centers the whole box */
    padding: 30px;
    font-size: 52px;
}

.history-box .box-text .desc {
    padding: 0;
}

.history-box .box-img img {
    width: 441px;
    height: 492px;
    margin: 0 50px;
    border-radius: 150px;

}

/* Child Text */
.box-text {
    text-align: center; /* Centers text inside */
}

.name-history {
    font-size: 64px;
}

/* Celebrations */
.container {
    /* margin-top: 50px; */
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
}

.scroll {
    background-color: #F4D58D;
    width: 550px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 700px;
    border-top-right-radius: 700px;
}

.globe {
    font-size: 48px;
    margin-bottom: 20px;
    /* height: 620px; */
    margin-top: -20px;  
    /* margin-bottom: -30px; */
}

.scroll-text {
    text-align: center;
    font-size: 54px;
    /* padding-top: 20px; Creates space above text */
    line-height: 0.9em;
    margin-top: 0;
}